VITE_FIREBASE_API_KEY="YOUR_FIREBASE_API_KEY"
VITE_FIREBASE_AUTH_DOMAIN="second-brain-997f5.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="second-brain-997f5"
VITE_FIREBASE_STORAGE_BUCKET="second-brain-997f5.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="394847911264"
VITE_FIREBASE_APP_ID="1:394847911264:web:01718a22fec492b0b3b205"
VITE_GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
